/*** Dark Theme ***/
			body {
				background-color: #444444;
			}

			* {
				color: #CCCCCC;
			}

			a,.orange {
				color: #FF9900
			}

			h1,h2,h3,h4,h5,h6,.purple {
				color: #663399;
			}

			.green {
				color: #33CC33;
			}

			.title {
				background-color: #111111;
			}

			.header {
				background-color: #222222;
			}

			.text {
				background-color: #333333;
			}
